app.title=Data Analyser

chart.title=Bandwidth Analysis
chart.h_title=Time
chart.v_title=Bandwidth

datafiles.location=/home/mark/Documents/jack/speedtest_results/
datafiles.filter=results_[0-9]{8}-[0-9]{4}.json

database.url=jdbc:mysql://localhost:3306
database.user=mark
database.pass=marks-password
database.dbname=firstdb2
